@font-face {
  font-family: Montserrat-BoldItalic;
  font-display: swap;
  src: url(../fonts/Montserrat-BoldItalic.woff2) format("woff2"),
    url(../fonts/Montserrat-BoldItalic.woff) format("woff"),
    url(../fonts/Montserrat-BoldItalic.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
