@use "./abstracts" as *;
@use "./base";
@use "./components";
@use "./layout";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: papayawhip;
}

a {
  color: $clr-accent;
}
